server:
  port: 9000

spring:
  application:
    name: graphql
  output:
    ansi:
      enabled: ALWAYS
  datasource:
    url: jdbc:h2:mem:appdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true
