spring:
  application:
    name: core
  output:
    ansi:
      enabled: ALWAYS
  datasource:
    url: jdbc:h2:mem:appdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  h2:
    console:
      enabled: true